<div *ngIf="isCliente()" class="principal-reserva-cliente">
    <h1>Entrenamientos disponibles</h1>
    <div class="selector-div">
        Horas disponibles: <select class="select-hora" [(ngModel)]="horaSelec">
            <option *ngFor="let hora of horasDis">
                <span>{{convertir(hora)}}</span>
            </option>
        </select>
        <div><button class="reservar-dia" (click)="hacerReserva()"><a>Reservar</a></button></div>
    </div>
</div>

<div *ngIf="isEntrenador()" class="principal-reserva-entrenador">
    <h1>Entrenamientos</h1>
    <div class="selector-div">
        Entrenamientos de hoy: 
        <br>
        <ul>
            <li *ngFor="let res of reservas">{{mostrarReserva(res)}}</li>
        </ul>
        <div><button class="reservar-dia" (click)="hacerReserva()"><a>Reservar</a></button></div>
    </div>
</div>