.lista-reservas {
    list-style: none;
    
}

h1 {
    text-align: center;
}
.lista-reservas > li {
    font-size: 23px;
    text-align: center;
}

.lista-reservas > li > pre {
    padding-left: 10px;
}