<div *ngIf="isCliente()" class="principal-reserva-cliente">
    <!--Ventana que se muestra para hacer la reserva-->
    <div *ngIf="!this.pulsarReserva">
        <h1>Entrenamientos disponibles el dia {{fecha | date: "dd-MM-yyyy"}}</h1>
        <div class="selector-div">
            Horas disponibles: <select [(ngModel)]="horaSelec">
                <option *ngFor="let hora of horasDis">
                    <span>{{convertir(hora)}}</span>
                </option>
            </select>
            <div class=" periodicidad">
                Seleccione la periodicidad de la cita:<br>
                <input type="radio" [(ngModel)] = "periodicidad" name ="periodicidad" value="cita-unica" checked> Cita única
                <input type="radio" [(ngModel)] = "periodicidad" name ="periodicidad" value="semanal"> Semanal
                <input type="radio" [(ngModel)] = "periodicidad" name ="periodicidad" value="mensual"> Mensual 
            </div>
            <div><button class="reservar-dia" (click)="hacerReserva()"><a>Reservar</a></button></div>
            <button class="boton-salir">Salir</button>
        </div>
    </div>

    <div *ngIf="this.pulsarReserva && !this.horaNoSeleccionada">
        <h1>¡Reserva realizada con exito!</h1>
        <button class="boton-salir">Salir</button>
    </div>

    <div *ngIf="this.pulsarReserva && this.horaNoSeleccionada">
        <h1>¡ERROR!</h1>
        <br>
        <h2>Intentelo de nuevo</h2>
        <br>
        <button class="volver-button" (click)="this.pulsarReserva=false"><a>Volver a intentarlo</a></button>
    </div>
</div>

<div *ngIf="isEntrenador()" class="principal-reserva-entrenador">
    <h1>Entrenamientos</h1>
    <div class="selector-div">
        <h2>Entrenamientos de hoy: </h2>
        <br>
        <div *ngIf="reservas.length == 0" id="sin-reserva">
            No tiene ninguna reserva todavía
            <button class="boton-salir">Salir</button>
        </div>

        <div *ngIf="reservas.length > 0" id="con-reserva">
            <ul id="lista-reservas-entrenador">
                <li><h3 id="hora-cliente">HORA - CLIENTE</h3></li>
                <li *ngFor="let res of reservas">
                    {{mostrarReserva(res)}}
                    <button id="boton-cancelar">Cancelar</button>
                    <hr>
                </li>
            </ul>
            <button class="boton-salir">Salir</button>
        </div>
    </div>
</div>