<div>
<div *ngIf="isCliente()">
  <div class="header-calendar">
    <h1>
      <button (click)="changeMonth(-1)" class="prev-month-btn">
        <img src="assets/flecha.png" alt="Image" class="flecha-izq">
      </button>
      {{dateSelect | date:'MMMM, yyyy'}}
      <button (click)="changeMonth(2)" class="next-month-btn">
        <img src="assets/flecha.png" alt="Image" class="flecha-der">
      </button>
    </h1>
  </div>
  <ol>
    <li *ngFor="let day of week" class="day-name">{{ day }}</li>    
    <li (click)="clickDay(day)"  [style.gridColumnStart]="first ? day?.indexWeek : 'auto'" *ngFor="let day of monthSelect ; let first = first" class="day-month">
      <span>{{day?.value}}</span>
    </li>
  </ol>
  <!--<div><button class="reservar-dia"><a [routerLink]="'/lista-reservas'" >Reservar</a></button></div>-->
</div>

<div *ngIf="isEntrenador()">
  <div class="header-calendar">
    <h1>
      <button (click)="changeMonth(-1)" class="prev-month-btn">
        <img src="assets/flecha.png" alt="Image" class="flecha-izq">
      </button>
      {{dateSelect | date:'MMMM, yyyy'}}
      <button (click)="changeMonth(2)" class="next-month-btn">
        <img src="assets/flecha.png" alt="Image" class="flecha-der">
      </button>
    </h1>
  </div>
  <ol>
    <li *ngFor="let day of week" class="day-name">{{ day }}</li>    
    <li   [style.gridColumnStart]="first ? day?.indexWeek : 'auto'" *ngFor="let day of monthSelect ; let first = first" class="day-month">
      <span>{{day?.value}}</span>
    </li>
  </ol>
</div>

<div *ngIf="!isClienteEntrenador()">
  <p class="alert alert-danger">No tiene permisos para ver este contenido.</p>
</div>
</div>
<!-- class="col-12" *ngIf="isCliente()

  <div class="col-12" *ngIf="!isCliente()">
  <p class="alert alert-danger">No tiene permisos para ver este contenido.</p>
 </div> -->