<div *ngIf = "isCliente()">
    <h1>Mis entrenamientos</h1>
    <div class="entrenamientos">
        <div class="entrenamiento" *ngFor="let entrenamiento of entrenamientos">
            <div class="entrenamiento-info">
                <h2>{{entrenamiento.entrenador}}</h2>
                <p>Hora inicio: {{entrenamiento.horaIni}}</p>
                <p>Hora fin: {{entrenamiento.horaFin}}</p>
            </div>
            <div class="entrenamiento-actions">
                <button class="btn btn-primary" (click)="editarEntrenamiento(entrenamiento)">Editar</button>
                <button class="btn btn-danger" (click)="eliminarEntrenamiento(entrenamiento)">Eliminar</button>
            </div>
        </div>
</div>
</div>

<div *ngIf = "isEntrenador()">
    <h1>Mis entrenamientos</h1>
    <div class="entrenamientos">
        <div class="entrenamiento" *ngFor="let entrenamiento of entrenamientos">
            <div class="entrenamiento-info">
                <h2>{{entrenamiento.cliente}}</h2>
                <p>Hora inicio: {{entrenamiento.horaIni}}</p>
                <p>Hora fin: {{entrenamiento.horaFin}}</p>
            </div>
            <div class="entrenamiento-actions">
                <button class="btn btn-primary" (click)="editarEntrenamiento(entrenamiento)">Editar</button>
                <button class="btn btn-danger" (click)="eliminarEntrenamiento(entrenamiento)">Eliminar</button>
            </div>
        </div>
</div>
</div>